<div class="container my-5">
    <h1 class="mb-3">Product Name: <%= product.name %></h1>
    <ul class="list-group mb-4">
        <li class="list-group-item">Brand : <%= product.brand %> </li>
        <li class="list-group-item">Price : <%= product.price.toLocaleString("id-ID") %></li>
        <li class="list-group-item">Color : <%= product.color %></li>
        <li class="list-group-item">Category : <a href="/products?category=<%= product.category %>"><%= product.category %></a> </li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <a href="/products" class="btn btn-secondary">Back</a>
      <a href="/products/<%= product._id %>/edit" class="btn btn-info">Edit</a>
      <form action="/products/<%= product._id %>?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-danger" type="submit">Delete</button>
      </form>
</div>